* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

header {
    height: 100px;
    background: rgb(255,255,255);
    background: linear-gradient(291deg, rgba(255,255,255,1) 0%, rgba(255,147,0,1) 100%);
}   

li {
    display: inline-block;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
}

.navright {
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

#hero-image {
    max-width: 100%;
    max-height: auto;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 50px;
  }


h1 {
    position: absolute;
    background-image: linear-gradient(to left, violet, yellow, orange, red);
    -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    letter-spacing: 0.3em;
    font-size: 50px;
    bottom: 70px;
    right: 50px;
    padding-bottom: 100px;
}

.firstpara {
    font-size: 18px;
    position: absolute;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
    bottom: 8px;
    right: 16px;
    padding-bottom: 40px;
    padding-left: 250px;
    padding-right: 50px;
    float:right;
    text-align: right;
    letter-spacing: 0.1em;
}

#img2 {
    float: right;
    margin-left: 40px;
}

h2 {
    font-size: 25px;
    font-weight:900;
    margin-left: 20px;
    margin-bottom: 20px;
}

.secondpara {
    font-size: 12px;
    margin-left: 20px;
    padding-right: 20px;
    line-height: 20px;
}

.thirdsec {
    display: inline-block;
}

#img3 {
    margin-top: 20px;
    margin-right: 40px;
    float: left;
}

h3 {
    padding-top: 150px;
    padding-right: 75px;
    font-size: 28px;
    font-weight: 800;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   letter-spacing: 0.1em;
   text-align: left;
   font-style: italic;
   line-height: 30px;
}

#footer {
    letter-spacing: 0.5em;
   bottom: 0;
   width:100%;
    height: 50px;
    background: rgb(255,255,255);
background: linear-gradient(291deg, rgba(255,147,0,1) 0%, rgba(255,255,255,1) 100%);  
  color: black;
  text-align: center;
  padding-top: 20px;
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}